<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.golkhune">

    <application
        android:name=".font"
        android:allowBackup="true"
        android:icon="@mipmap/logoback"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".about"></activity>
        <activity android:name=".ab_dadan" />
        <activity android:name=".zard_shodan" />
        <activity android:name=".alaf_harz" />
        <activity android:name=".taviz_khak" />
        <activity android:name=".az_bein_bordan_afat" />
        <activity android:name=".film" />
        <activity android:name=".amuzesh" />
        <activity android:name=".biruni" />
        <activity android:name=".apartemani" />
        <activity android:name=".tozihat" />
        <activity android:name=".MainActivity" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>